body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

section#modern-kitchen {
    margin: 20px;
}

.kitchen-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.kitchen-gallery img {
    width: 30%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* სამაგიდო სტილი სურათებისთვის */
.kitchen-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.kitchen-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* სურათებზე მიანიჭე ეფექტი */
.kitchen-gallery img:hover {
    transform: scale(1.05);
}
